/* CSS declarations go here */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 body {
   display: flex !important;
   min-height: 100vh !important;
   flex-direction: column !important;
 }


 main {
   background-image: url("pictures/space.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   flex: 1 0 auto;
 }

 html {
    font-family: 'Zilla Slab', serif !important;
    min-height: 100vh !important;
  }




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}



/*//////////////////////////////////////////////////CUSTOM CSS BELOW/////////////////////////////////////////////////////////////////////////*/
.gradient-black {
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(50,59,73,1) 50%,rgba(0,0,0,1) 100%);
}

/* label focus color */
 .input-field input:focus + label {
   color: #29b6f6 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #29b6f6 !important;
   box-shadow: 0 1px 0 0 #29b6f6 !important;
 }

.pane {
    padding-top: 6em;
    padding-bottom: 6em;
}


body > footer > div.footer-copyright > div > a {
    margin-right:1em;
}

body > footer {
      margin-top: 0px !important;
      padding-top: 0px !important;
}



.qwe {
  display:inline-block;
  position:relative;
  top: 0;
  left:0;
  min-width: 517px !important;
}

.rty{
position:relative;
 top: 0;
  left:0;
  min-width: 517px !important;
}

.uio{
position:absolute;
top: 20px;
left:17px;
min-width: 483px !important;
}

.info {
border-radius: 60px;
padding: 10px;
margin: 50pt auto;
color: #000038;
background: #f4fafc;
}
}
